<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="./assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="./assets/css/custom.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-info"
    color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          Footballize </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="./login-page.html" class="nav-link">
              <i class="material-icons">lock_open</i> Log In
            </a>
          </li>
          <li class="nav-item">
            <a href="./register-page.html" class="nav-link">
              <i class="material-icons">create</i> Register
            </a>
          </li>
          <li class="dropdown nav-item hide">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true"><i
                class="material-icons">apps</i> Entities</a>
            <div class="dropdown-menu hide">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a href="#pablo" class="dropdown-item">Action</a>
              <a href="#pablo" class="dropdown-item">Another action</a>
              <a href="#pablo" class="dropdown-item">Something else here</a>
              <div class="dropdown-divider"></div>
              <a href="#pablo" class="dropdown-item">Separated link</a>
              <div class="dropdown-divider"></div>
              <a href="#pablo" class="dropdown-item">One more separated link</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/bgfield2.png')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Your title here</h1>
            <h3 class="title text-center">Subtitle</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row" id="information">
            <div class="col-md-3">
              <ul class="nav nav-pills nav-pills-info nav-pills-icons flex-column" role="tablist">
                <!--
                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                    -->
                <li class="nav-item">
                  <a class="nav-link active show" href="#dashboard-2" role="tab" data-toggle="tab" aria-selected="true">
                    <i class="material-icons">dashboard</i> Title Here?
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#schedule-2" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons">schedule</i> Schedule
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#search-2" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons">info</i> Schedule
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-8">
              <div class="tab-content">
                <div class="tab-pane active show" id="dashboard-2">
                  <h3>Title here?</h3>
                 <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Dui ut ornare lectus sit amet est placerat in egestas. Eget egestas purus viverra
                  accumsan. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.
                  Sit amet consectetur adipiscing elit. Nunc sed blandit libero volutpat sed cras ornare. Cursus turpis
                  massa tincidunt dui ut ornare. Platea dictumst quisque sagittis purus sit amet volutpat. Urna nunc id
                  cursus metus aliquam eleifend mi in nulla. Bibendum enim facilisis gravida neque convallis a.
                 </p>
                </div>
                <div class="tab-pane" id="schedule-2">
                    <h3>Title here?</h3>
                  <p>
                      In ornare quam viverra orci sagittis eu volutpat. Congue nisi vitae suscipit tellus mauris a diam
                      maecenas sed. Mauris sit amet massa vitae tortor condimentum. Nunc pulvinar sapien et ligula
                      ullamcorper malesuada proin libero. Commodo odio aenean sed adipiscing diam donec. Gravida rutrum
                      quisque non tellus. Ipsum suspendisse ultrices gravida dictum. Bibendum ut tristique et egestas. Sed
                      faucibus turpis in eu mi bibendum. Odio pellentesque diam volutpat commodo. Dolor magna eget est
                      lorem. Augue mauris augue neque gravida. Turpis tincidunt id aliquet risus feugiat in. Massa placerat
                      duis ultricies lacus sed turpis tincidunt id.
                  </p>
                </div>
                <div class="tab-pane" id="search-2">
                    <h3>Title here?</h3>
                 <p>
                    In ornare quam viverra orci sagittis eu volutpat. Congue nisi vitae suscipit tellus mauris a diam
                  maecenas sed. Mauris sit amet massa vitae tortor condimentum. Nunc pulvinar sapien et ligula
                  ullamcorper malesuada proin libero. Commodo odio aenean sed adipiscing diam donec. Gravida rutrum
                  quisque non tellus. Ipsum suspendisse ultrices gravida dictum. Bibendum ut tristique et egestas. Sed
                  faucibus turpis in eu mi bibendum. Odio pellentesque diam volutpat commodo. Dolor magna eget est
                  lorem. Augue mauris augue neque gravida. Turpis tincidunt id aliquet risus feugiat in. Massa placerat
                  duis ultricies lacus sed turpis tincidunt id.
                 </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-fluid" id="carousel">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                <!-- Carousel Card -->
                <div class="card card-raised card-carousel">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="./assets/img/bg2.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h4>
                            <i class="material-icons">location_on</i> Yellowstone National Park, United States
                          </h4>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="./assets/img/bg3.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h4>
                            <i class="material-icons">location_on</i> Somewhere Beyond, United States
                          </h4>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="./assets/img/bg.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                          <h4>
                            <i class="material-icons">location_on</i> Yellowstone National Park, United States
                          </h4>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <i class="material-icons">keyboard_arrow_left</i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <i class="material-icons">keyboard_arrow_right</i>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

                </div>

                <!-- End Carousel Card -->
              </div>
              <div class="col-md-4">
                <h1>h1. Bootstrap heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="section">
        <h2 class="title text-center">Games Avaliable</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Starting Time</th>
              <th scope="col">Playfiled</th>
              <th scope="col">City</th>
              <th scope="col">Description</th>
              <th scope="col">Players</th>
              <th scope="col">Creator</th>
              <th scope="col">Created On</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><span class="align-middle">22:00 @ 27.05.2019</span></th>
              <td>Optimum</td>
              <td>Plovdiv</td>
              <td>Lest Play Togather</td>
              <td>10/12</td>
              <td>Bili The Kid</td>
              <td>11:00AM 27.05.2019</td>
              <td>
                  <button class="btn btn-primary btn-fab btn-round">
                      <i class="material-icons">toc</i>
                      <div class="ripple-container"></div>
                    </button>
                <button class="btn btn-info btn-fab btn-round">
                  <i class="material-icons">edit</i>
                  <div class="ripple-container"></div>
                </button>
                <button class="btn btn-danger btn-fab btn-round">
                  <i class="material-icons">delete</i>
                  <div class="ripple-container"></div>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">20:00 @ 27.05.2019</th>
              <td>Optimum</td>
              <td>Plovdiv</td>
              <td>Lest Play Togather</td>
              <td>10/12</td>
              <td>Bili The Kid</td>
              <td>11:00AM 27.05.2019</td>
              <td>
                  <button class="btn btn-primary btn-fab btn-round">
                      <i class="material-icons">toc</i>
                      <div class="ripple-container"></div>
                    </button>
                <button class="btn btn-info btn-fab btn-round">
                  <i class="material-icons">edit</i>
                  <div class="ripple-container"></div>
                </button>
                <button class="btn btn-danger btn-fab btn-round">
                  <i class="material-icons">delete</i>
                  <div class="ripple-container"></div>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">19:00 @ 27.05.2019</th>
              <td>Atrim Arena</td>
              <td>Plovdiv</td>
              <td>Skilled Only!</td>
              <td><span class="red">4</span>/12</td>
              <td>Bili The Kid</td>
              <td>11:00AM 27.05.2019</td>
              <td>
                  <button class="btn btn-primary btn-fab btn-round">
                      <i class="material-icons">toc</i>
                      <div class="ripple-container"></div>
                    </button>
                <button class="btn btn-info btn-fab btn-round">
                  <i class="material-icons">edit</i>
                  <div class="ripple-container"></div>
                </button>
                <button class="btn btn-danger btn-fab btn-round">
                  <i class="material-icons">delete</i>
                  <div class="ripple-container"></div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.github.com/ajmitev">
              View my GitHub
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://aleksandar.it/" target="blank">AJMitev</a>.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }

  </script>
</body>

</html>