@model Footballize.Web.Areas.Administration.ViewModels.Provinces.ProvinceEditViewModel
@{
    ViewData["Title"] = "Edit Province";
}

<h1 class="title">Edit province</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select id="country" asp-for="CountryId" class="form-control">
                    <option value="-1">Select an option</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <input asp-for="Id" class="text-hide" />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
   <partial name="_ValidationScriptsPartial"/>

    <script>
        $(document).ready(function () {
            $list = $("#country");
            $.ajax({
                url: "/api/countries/all/",
                type: "GET",
                traditional: true,
                success: function (result) {
                    $list.empty();
                    $list.append('<option value="-1"> Select an option </option>');
                    $.each(result,
                        function (i, item) {
                            $list.append('<option value="' + item["id"] + '"> ' + item["name"] + ' </option>');
                        });
                },
                error: function () {
                    alert("Something went wrong call the police");
                }
            });
        });
    </script>
}