@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewData["Title"] = "Log in";


}


<div class="card-header card-header-primary text-center">
    <h4 class="card-title">@ViewData["Title"]</h4>
    <div class="social-line">
        <a href="#pablo" class="btn btn-just-icon btn-link">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="#pablo" class="btn btn-just-icon btn-link">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="#pablo" class="btn btn-just-icon btn-link">
            <i class="fa fa-google-plus"></i>
        </a>
    </div>
</div>
<p class="description text-center">Please enter your credentials.</p>
<div class="card-body">
    <form class="form" id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">alternate_email</i>
                </span>
            </div>
            <input asp-for="Input.Username" class="form-control" placeholder="Username or Email..." />
        </div>
        <div class="text-center"><span asp-validation-for="Input.Username" class="text-danger"></span></div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                </span>
            </div>
            <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
        </div>
        <div class="text-center"><span asp-validation-for="Input.Password" class="text-danger"></span></div>
        <div>
            <div class="form-check">
                <label asp-for="Input.RememberMe" class="form-check-label">
                    <input asp-for="Input.RememberMe" class="form-check-input"> Remember Me
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>
        
        <div class="text-center">
            <button class="btn btn-primary">
                Log In
                <div class="ripple-container"></div>
            </button>
        </div>

    </form>

    <div class="card-footer text-center">
        <div class="row">
            <div class="identity-link">
                <p class="text-gray text-center">Forgot your password? <br/> <a asp-area="Identity" asp-page="/Account/ForgotPassword" class="text-success">Ask for new</a></p>
                </div>
            <div class="identity-link">
                <p class="text-gray text-center">Need an Account? <br/> <a asp-area="Identity" asp-page="/Account/Register" class="text-success">Register.</a></p>

            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
