@using Footballize.Models.Enums
@model Footballize.Web.ViewModels.Gathers.GatherAddViewModel
@{
    ViewData["Title"] = "Create";
}

<div id="breadcrumb">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Gathers" asp-action="Index">Gathers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create New Gather</li>
        </ol>
    </nav>
</div>

<h1 class="title text-center">Create new Gather</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartingAt" class="control-label"></label>
                        <input type="text" asp-for="StartingAt" class="form-control datetimepicker" />
                        <span asp-validation-for="StartingAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeamFormat" class="control-label"></label>
                        <select asp-for="TeamFormat" asp-items="Html.GetEnumSelectList<TeamFormat>()" class="form-control">
                            <option value="-1">Select an option</option>
                        </select>
                        <span asp-validation-for="TeamFormat" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="CountryId" class="control-label"></label>
                        <select id="country" asp-for="CountryId" class="form-control">
                            <option value="-1">Select an option</option>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProvinceId" class="control-label"></label>
                        <select id="province" asp-for="ProvinceId" class="form-control">
                            <option value="-1">Select an option</option>
                        </select>
                        <span asp-validation-for="ProvinceId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TownId" class="control-label"></label>
                        <select id="town" asp-for="TownId" class="form-control">
                            <option value="-1">Select an option</option>
                        </select>
                        <span asp-validation-for="TownId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PitchId" class="control-label"></label>
                        <select id="pitch" asp-for="PitchId" class="form-control">
                            <option value="-1">Select an option</option>
                        </select>
                        <span asp-validation-for="PitchId" class="text-danger"></span>
                    </div>

                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {

            $list = $("#country");
            $.ajax({
                url: "/api/countries/",
                type: "GET",
                traditional: true,
                success: function (result) {
                    $list.empty();
                    $list.append('<option value="-1"> Select an option </option>');
                    $.each(result,
                        function (i, item) {
                            $list.append('<option value="' + item["id"] + '"> ' + item["name"] + ' </option>');
                        });
                },
                error: function () {
                    alert("Something went wrong call the police");
                }
            });

            $("#country").on("change",
                function () {
                    $provinceList = $("#province");
                    $.ajax({
                        url: "/api/provinces/" + $("#country").val(),
                        type: "GET",
                        data: { id: $("#country").val() },
                        traditional: true,
                        success: function (result) {
                            $provinceList.empty();
                            $provinceList.append('<option value="-1"> Select an option </option>');
                            $.each(result,
                                function (i, item) {
                                    $provinceList.append('<option value="' +
                                        item["id"] +
                                        '"> ' +
                                        item["name"] +
                                        ' </option>');
                                });
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                });

            $('#province, #country').on("change",
                function () {
                    $townsList = $("#town");
                    $.ajax({
                        url: "/api/towns/" + $("#province").val(),
                        type: "GET",
                        data: { id: $("#province").val() },
                        traditional: true,
                        success: function (result) {
                            $townsList.empty();
                            $townsList.append('<option value="-1"> Select an option </option>');
                            $.each(result,
                                function (i, item) {
                                    $townsList.append('<option value="' +
                                        item["id"] +
                                        '"> ' +
                                        item["name"] +
                                        ' </option>');
                                });
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                });

            $('#town, #province, #country').on('change',
                function () {
                    $pitchesList = $('#pitch');
                    $.ajax({
                        url: "/api/pitches/" + $('#town').val(),
                        type: "GET",
                        traditional: true,
                        success: function (result) {
                            $pitchesList.empty();
                            $pitchesList.append('<option value="-1"> Select an option </option>');
                            $.each(result,
                                function (i, item) {
                                    $pitchesList.append('<option value="' +
                                        item["id"] +
                                        '"> ' +
                                        item["name"] +
                                        ' </option>');
                                });
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                });
        });
    </script>
}