
@{
    ViewData["Title"] = "Gather Details";
}

<div id="breadcrumb">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Gathers" asp-action="Index">Gathers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Match Details</li>
        </ol>
    </nav>
</div>
