@model Footballize.Web.Models.Towns.TownEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 class="title">Edit Town</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceId" class="control-label"></label>
                <select asp-for="ProvinceId" id="province" class="form-control">
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <input asp-for="Id" class="text-hide" />
            <input asp-for="CountryId" class="text-hide" id="country" />
            <input asp-for="ProvinceId" class="text-hide" id="provinceId" />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            $provinceList = $("#province");
            $.ajax({
                url: "/api/provinces/" + $("#country").val(),
                type: "GET",
                data: { id: $("#country").val() }, //id of the state which is used to extract cities
                traditional: true,
                success: function(result) {
                    $provinceList.empty();
                    $provinceList.append('<option value="-1"> Select an option </option>');
                    $.each(result,
                        function(i, item) {
                            $provinceList.append('<option value="' + item["id"] + '"> ' + item["name"] + ' </option>');
                        });
                    $selectedProvinceId = $("#provinceId").val();
                    $provinceList.val($selectedProvinceId);
                },
                error: function() {
                    alert("Something went wrong call the police");
                }
            });
        });
    </script>
}