@using Footballize.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">apps</i> Entities
            </a>
            <div class="dropdown-menu">
                <h6 class="dropdown-header">Localization Entities</h6>
                <a class="dropdown-item" asp-controller="Countries" asp-action="Index">Countries</a>
                <a asp-controller="Provinces" asp-action="Index" class="dropdown-item">Provinces</a>
                <a asp-controller="Playfields" asp-action="Index" class="dropdown-item">Playfileds</a>
                <div class="dropdown-divider"></div>
                <a href="#pablo" class="dropdown-item">Players</a>
                <div class="dropdown-divider"></div>
                <a href="#pablo" class="dropdown-item">Gather Matches</a>
                <a href="#pablo" class="dropdown-item">Versus Matches</a>
                <a href="#pablo" class="dropdown-item">Recruiting a Players</a>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link"> <i class="material-icons">lock</i> Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"> <i class="material-icons">create</i> Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><i class="material-icons">lock_open</i> Log In</a>
        </li>
    }
</ul>