@model ErrorViewModel
@{
    ViewData["Title"] = "Something went wrong :(";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>500</h1>
        <h2>An error occurred while processing your request.</h2>
        <p>Ruh-roh, something just isn't right... Time to paw through your logs and get down and dirty in your
            stack-trace;)</p>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <a asp-controller="Home" asp-action="Index">Back to homepage</a><hr />
        <div>
            <a asp-controller="Gathers" asp-action="Index" class="btn btn-primary">Gathers</a>
            <a asp-controller="Recruitments" asp-action="Index" class="btn btn-primary">Recruit Games</a>
        </div>
    </div>

</div>