@model Footballize.Web.Areas.Administration.ViewModels.Pitches.PitchEditViewModel
@{
    ViewData["Title"] = "Edit Field";
}

<div id="breadcrumb">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Pitches" asp-action="Index">Pitches</a></li>
            <li class="breadcrumb-item active" aria-current="id">Modify</li>
        </ol>
    </nav>
</div>
<hr />
<div class="row">
    <div class="col-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceName" class="control-label"></label>
                <input asp-for="ProvinceName" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="TownName" class="control-label"></label>
                <input asp-for="TownName" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Address.Number" class="control-label"></label>
                <input asp-for="Address.Number" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LocationLatitude" class="control-label"></label>
                <input asp-for="LocationLatitude" class="form-control" />
                <span asp-validation-for="LocationLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationLongitude" class="control-label"></label>
                <input asp-for="LocationLongitude" class="form-control" />
                <span asp-validation-for="LocationLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cover"></label>
                <input asp-for="Cover" type="file" class="form-control-file">
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <input name="AddressId" asp-for="Address.Id" class="text-hide" />
            <div class="form-group">
                <input type="submit" value="Modify" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-6">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {

            $list = $("#country");
            $.ajax({
                url: "/api/countries/",
                type: "GET",
                traditional: true,
                success: function (result) {
                    $list.empty();
                    $list.append('<option value="-1"> Select an option </option>');
                    $.each(result,
                        function (i, item) {
                            $list.append('<option value="' + item["id"] + '"> ' + item["name"] + ' </option>');
                        });
                },
                error: function () {
                    alert("Something went wrong call the police");
                }
            });

            $("#country").on("change",
                function () {
                    $provinceList = $("#province");
                    $.ajax({
                        url: "/api/provinces/" + $("#country").val(),
                        type: "GET",
                        data: { id: $("#country").val() },
                        traditional: true,
                        success: function (result) {
                            $provinceList.empty();
                            $provinceList.append('<option value="-1"> Select an option </option>');
                            $.each(result,
                                function (i, item) {
                                    $provinceList.append('<option value="' +
                                        item["id"] +
                                        '"> ' +
                                        item["name"] +
                                        ' </option>');
                                });
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                });

            $('#province, #country').on("change",
                function () {
                    $townsList = $("#town");
                    $.ajax({
                        url: "/api/towns/" + $("#province").val(),
                        type: "GET",
                        data: { id: $("#province").val() },
                        traditional: true,
                        success: function (result) {
                            $townsList.empty();
                            $townsList.append('<option value="-1"> Select an option </option>');
                            $.each(result,
                                function (i, item) {
                                    $townsList.append('<option value="' +
                                        item["id"] +
                                        '"> ' +
                                        item["name"] +
                                        ' </option>');
                                });
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                });

        });
    </script>
}